@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
}

/* BASE */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* LINK */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* BUTTON */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: var(--color-brand-light) solid 2px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* COMMON */
.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  padding: 48px 0;
}

.section:last-child {
  padding-bottom: 96px;
}

.accent {
  color: var(--color-brand-light);
}

.uppercase {
  text-transform: uppercase;
}

.section-header {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 900;
}

.section-header .accent {
  color: var(--color-brand-dark);
}

/* HERO SECTION */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  margin: 0 auto;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* ADVANTAGES SECTION */
.advantages-section {
  padding-bottom: 48px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  font-weight: 300;
  margin: 0;
}

/* TRADITIONS SECTION */
.traditions-header {
  margin-bottom: 42px;
}

.traditions-text .accent {
  font-weight: 600;
}

/* CHEF SECTION */
.chefs-header {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* FORMAT SECTION */
.format-header {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  color: var(--color-primary-light);
}

/* CONTACTS SECTION */
.contacts-header {
  margin-bottom: 16px;
}

.contacts-text {
  color: var(--color-brand-dark);
}

/* FOOTER */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
