@import "./utils/fonts";
@import "./utils/variables";
@import "./base/base";

@import "./base/layout";
@import "./utils/texts";
@import "./utils/utils";

@import "./components/links";
@import "./components/buttons";

@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/advantages-section";
@import "./layouts/traditions-section";
@import "./layouts/chefs-section";
@import "./components/chef-card";
@import "./layouts/formats-section";
@import "./components/format-card";
@import "./layouts/contacts-section";
@import "./components/input";
@import "./components/form-terms";
@import "./layouts/footer";
@import "./components/modals";
