.button {
  display: block;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: var(--color-brand-light) solid 2px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  transition: color 0.3s, background-color 0.3s;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
    font-size: 18px;
  }

  &:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
  }
}
