.chefs-header {
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  display: block;
}

.chefs-header::before,
.chefs-header::after {
  content: "";
  position: absolute;
  width: 352px;
  height: 2px;
  background-color: var(--color-secondary-light);
  bottom: 8px;
}

.chefs-header::before {
  left: 0;
}

.chefs-header::after {
  right: 0;
}

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}