.contacts-header {
  margin-bottom: 16px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.form-input {
  display: block;
  margin-bottom: 32px;
  padding: 16px 42px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-secondary-dark);
  background-color: transparent;
  font-size: 16px;
}

.form-input::placeholder {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-btn {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  text-align: center;
  font-size: 12px;
  display: block;
  width: 215px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.contacts-text {
  color: var(--color-brand-dark);
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
  width: 600px;
  height: 600px;
  margin: 25px 0;
}