.footer {
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px;
  position: relative;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}

.footer::before {
  background-image: url(../images/decor-bread-small.png);
  left: 0;
  width: 180px;
  height: 120px;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  right: 0;
  width: 380px;
  height: 187px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}

.footer-menu,
.address-list,
.address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-socials {
  display: flex;
  gap: 22px;
}

.address-icon {
  fill: var(--color-primary-light);
  transition: fill 0.3s;
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
  margin-bottom: 0;
}