.formats-header {
  margin-bottom: 80px;
  text-align: center;
}

.formats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}

.formats-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  width: 44px;
  height: 44px;
  background-color: transparent;
  flex-shrink: 0;
  transition: background-color 0.3s, fill 0.3s;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    to bottom,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 73%,
    rgba(49, 38, 26, 1) 100%
  );
  border-radius: 16px;
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-title {
  font-size: 24px;
  color: var(--color-primary-light);
  margin-bottom: 16px;
}

.format-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: var(--color-primary-light);
  height: 120px;
}

.format-text p {
  margin-bottom: 0;
}