.form-terms {
  display: none;
  text-align: center;
  font-size: 12px;
  width: 215px;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    display: block;
  }

  &__link {
    color: var(--color-primary-dark);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
