.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 349px;
  min-width: 321px;
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    to bottom,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 73%,
    rgba(49, 38, 26, 1) 100%
  );
  border-radius: 16px;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    color: var(--color-primary-light);
    margin-bottom: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: var(--color-primary-light);
    height: 120px;
  }

  &__text p {
    margin-bottom: 0;
  }
}
