.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10.5vw;
}

.nav-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10.5vw;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}