.input {
  &__control {
    display: block;
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: var(--color-secondary-dark);
    }

    &:focus {
      border-color: var(--color-brand-light);
      outline: none;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
