.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 40px;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    padding: 80px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 128px;
  }

  &__button {
    margin: 0 auto 24px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__btn-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--color-primary-dark);
    width: 16px;
    height: 16px;
    fill: none;
    cursor: pointer;
  }

  &__header {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 72px;
    color: var(--color-brand-dark);
  }
}
