.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  max-width: 880px;
  height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  text-align: center;

  &__button {
    display: block;
    margin: 0 auto 24px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__header {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 72px;
    color: var(--color-brand-dark);
  }
}
