.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  padding: 48px 0;

  &:last-child {
    padding-bottom: 96px;
  }

  &__header {
    font-size: 64px;
    line-height: 1.3;
    font-weight: 900;
  }
}
