.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0;
  }

  &:last-child {
    padding-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
      padding-bottom: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding-bottom: 96px;
    }
  }

  &__header {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 900;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      line-height: 1.3;
    }
  }
}
