.advantages-section {
  padding-bottom: 48px;
  padding: 16px 0;

  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-brand-light);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    font-weight: 300;
    margin: 0;
    background-color: var(--color-secondary-light);
    padding: 24px 40px;
    border-radius: 24px;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      color: var(--color-primary-light);
      padding: 0;
      background-color: transparent;
      font-family: 20px;
      border-radius: 0;
    }
  }
}
