.chefs-section {
  &__header {
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    display: block;

    &::before,
    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 352px;
      height: 2px;
      background-color: var(--color-secondary-light);
      bottom: 8px;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
