.footer {
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url(../images/decor-bread-long.png);
    left: 0;
    top: 48px;
    width: 85px;
    height: 206px;

    @media screen and (min-width: $bp-tablet) {
      background-image: url(../images/decor-bread-small.png);
      left: 0;
      top: auto;
      bottom: 0;
      width: 180px;
      height: 120px;
    }
  }

  &::after {
    background-image: url(../images/decor-bread-big.png);
    right: 0;
    width: 102px;
    height: 91px;

    @media screen and (min-width: $bp-tablet) {
      background-image: url(../images/decor-bread-large.png);
      right: 0;
      width: 380px;
      height: 187px;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__nav,
  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
    margin-bottom: 0;
  }

  &__logo {
    margin-bottom: 32px;
  }
}

.footer__logo,
.footer__menu,
.address-list,
.footer__info {
  flex-grow: 1;
}

.footer__menu,
.address-list,
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
    align-items: flex-start;
  }
}

.address-list__link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-socials {
  display: flex;
  gap: 22px;

  &__icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
  }

  &__icon:hover {
    fill: var(--color-brand-light);
  }
}
