.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
  padding: 16px 24px;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--color-primary-dark);
    width: 12px;
    height: 12px;
    fill: none;
    cursor: pointer;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__link {
    color: var(--color-primary-dark);
    margin-bottom: 16px;
    font-size: 14px;
  }

  &::after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 240px;
    background-image: url(/images/decor-bread-mobile.png);
    background-repeat: no-repeat;
  }
}
