.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: 710px;
  }

  &__header {
    margin-bottom: 42px;
  }

  &__image {
    border-radius: 200px 200px 0 0;
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
