.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 710px;
  }

  &__header {
    margin-bottom: 42px;
  }

  &__image {
    border-radius: 200px 200px 0 0;
  }
}
